extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= Loc8r
         small &nbsp;Find wifi near you

  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Starcups
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address 125a  Big Poop avenue, loverville, dr5 5tg
          p
           span.label.label-warning Hot cock
           &nbsp;
           span.label.label-warning Precum
           &nbsp;
           span.label.label-warning Sweet Arse
           &nbsp;

        .col-xs-12.list-group-item
          h4
            a(href="/location") Starcups
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address 125a  Big Poop avenue, loverville, dr5 5tg
          p
           span.label.label-warning Hot cock
           &nbsp;
           span.label.label-warning Precum
           &nbsp;
           span.label.label-warning Sweet Arse
           &nbsp;

        .col-xs-12.list-group-item
          h4
            a(href="/location") Starcups
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address 125a  Big Poop avenue, loverville, dr5 5tg
          p
           span.label.label-warning Hot cock
           &nbsp;
           span.label.label-warning Precum
           &nbsp;
           span.label.label-warning Sweet Arse
           &nbsp;

    .col-xs-12.col-sm-4 
      p.lead Looking for wifi and a big cock? Loc8r is great for finding both! Cake, drizzled with precum and some real cum when you're ready to pay!