extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= Loc8r
         small &nbsp;Find wifi near you

  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Startucks
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address 125a  Main Avenue, Cityville. dr5 5tg
          p
           span.label.label-warning Hot Cakes
           &nbsp;
           span.label.label-warning Sausages
           &nbsp;
           span.label.label-warning Cafe
           &nbsp;

        .col-xs-12.list-group-item
          h4
            a(href="/location") Startucks
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address 125a  Main Avenue, Cityville. dr5 5tg
          p
           span.label.label-warning Hot Cakes
           &nbsp;
           span.label.label-warning Sausages
           &nbsp;
           span.label.label-warning Cafe
           &nbsp;

        .col-xs-12.list-group-item
          h4
            a(href="/location") Startucks
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address 125a Main avenue, Cityville, dr5 5tg
          p
           span.label.label-warning Hot Cakes
           &nbsp;
           span.label.label-warning Fruit
           &nbsp;
           span.label.label-warning Cafe
           &nbsp;

    .col-xs-12.col-sm-4 
      p.lead Looking for wifi and cake?!