extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
         small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8(ng-controller="locationListCtrl")
      label(for="filter") Filter results
      input#filter(type="text", name="filter", ng-model="myFilter")
      .small(ng-if="filtered.length > 0") {{filtered.length}} sites found
      .row.list-group
        .col-xs-12.list-group-item(ng-repeat="loc in filtered = (locations | filter:myFilter) track by $index")
          h4 
            a(href="/location/{{ loc._id }}") {{ loc.name }}
            small.rating-stars(rating-stars, rating="loc.rating")
            span.badge.pull-right.badge-default {{ loc.distance | formatDistance }}
          p.address {{ loc.address }}
          p
            span.label.label-warning.label-facility(ng-repeat="facility in loc.facilities") | {{ facility }}
      .error {{ message }}
    .col-xs-12.col-sm-4 
      p.lead= sidebar
