mixin outputRating(rating)
  - for (var i = 1; i <= rating; i++)
    span.glyphicon.glyphicon-star
  - for (i = rating; i < 5; i++)
    span.glyphicon.glyphicon-star-empty

mixin formatDate(ds)    
  - let dd = new Date(ds);
  - let mn = ["Jan","Feb","March","April","May","June","Jul","Aug","Sept","Oct","Nov","Dec"];
  - let d = dd.getDate();
  - let m = mn[dd.getMonth()];
  - let y = dd.getFullYear();
  - let o = d + ' ' + m + ' ' + y;
  =o 
